
.header{
    background-color: orangered;
    position: relative;
    border-radius: 1rem;
    top:0;
}
.icon-content{
    display: flex;
    position: relative;
}
.header-left-item{
    color: white;
    margin-left: 2px;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-right{
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    top: 0;
}
.header-right-item{
    margin-left: 2px;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: block;
    margin-left: 300px;
}

.shoppe-icon{
    width:8rem;
    height:8rem;
    margin:10px;
    position: relative;
    left: 10px;
    top: 0px;
    bottom: 2px;
    margin-right: 100px;
}

.search {
    display: flex;
    align-items: center;
    width: 1000px; 
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2px;
    background: white;
    position: relative;
}

.search-input {
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333333;
    outline: none;
    border: none;
    background-color: transparent;
    flex: 1;
    width: 600px; /* Increased from 400px */
}

.search-button {
    padding: 10px 20px;
    background-color: orangered;
    border-color: orangered;
    border-radius: 4px;
    position: absolute;
    right: 7px;
}

.sugges{
    padding-top: 20px;
    padding-bottom: 0;
    background-color: whitesmoke;
}
.suggest-things{
    margin-left: 550px;
    margin-bottom: 100px;
    width: 35rem;
    height: 20rem;
    border-color: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.sugges-utility{
    display: flex;
    justify-content: center;

}

.item-utility{
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ima-suggest{
    border-style: solid;
    border-radius: 20px;
    width: 70px;
    height: 70px;
}
.word-suggest{
    font-size:20px;
    display: flex;
    font-style:inherit;
}