.shoppe-icon{
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin-left: 10px;
    margin-right: 50px;
}
.shoppe-word{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
}
.header{
    background-color: orange;
    position: relative;
    border-radius: 1rem;
    top:0;
}
.icon-content{
    display: flex;
}
.header-left-item{
    color: white;
    margin-left: 2px;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}
.header-container{
    display: flex;
    justify-content: space-between;
}
.header-right{
    display: flex;
    justify-content: flex-end;
    align-content: flex-start;
    top: 0;
}
.header-right-item{
    margin-left: 2px;
    padding: 5px;
    text-decoration: none;
    font-size: 20px;
}



.search-container {
    display: flex;
    margin-left: 30rem;
    align-items: center;
}

.search-input {
    width: 300px;
    padding: 20px;
    border: 2px solid #f24e35;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button {
    padding: 20px;
    background-color: #f24e35;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.search-button:hover {
    background-color: #e04030;
}


.sugges{
    padding-top: 20px;
    padding-bottom: 0;
    background-color: whitesmoke;
}
.suggest-things{
    margin-left: 550px;
    margin-bottom: 100px;
    width: 35rem;
    height: 20rem;
    border-color: white;
    border-style: solid;
    border-width: 4px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.sugges-utility{
    display: flex;
    justify-content: center;

}

.item-utility{
    margin-right: 30px;
}
.ima-suggest{
    border-style: solid;
    border-radius: 20px;
    width: 70px;
    height: 70px;
}
.word-suggest{
    font-size:20px;
    display: flex;
    font-style:inherit;
}